<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/output.css" />
  </head>
  <body class="bg-slate-100">
    <!-- This example requires Tailwind CSS v2.0+ -->
    <div class="relative bg-white overflow-hidden w-screen h-screen">
      <div class="">
        <div class="flex flex-col m-auto z-10 bg-white lg:w-[40%]">
          <div>
            <div class="relative pt-6 px-4 sm:px-6 lg:px-8">
              <nav
                class="relative flex items-center justify-between sm:h-10 lg:justify-start"
                aria-label="Global"
              >
                <div
                  class="flex items-center flex-grow flex-shrink-0 lg:flex-grow-0"
                >
                  <div
                    class="flex items-center justify-between w-full md:w-auto"
                  >
                    <a href="#">
                      <span class="sr-only">Workflow</span>
                      <img
                        alt="Workflow"
                        class="h-8 w-auto sm:h-10"
                        src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg"
                      />
                    </a>
                    <div class="-mr-2 flex items-center md:hidden">
                      <button
                        type="button"
                        class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500"
                        aria-expanded="false"
                      >
                        <span class="sr-only">Open main menu</span>
                        <!-- Heroicon name: outline/menu -->
                        <svg
                          class="h-6 w-6"
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke-width="2"
                          stroke="currentColor"
                          aria-hidden="true"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M4 6h16M4 12h16M4 18h16"
                          />
                        </svg>
                      </button>
                    </div>
                  </div>
                </div>
              </nav>
            </div>

            <!--
            Mobile menu, show/hide based on menu open state.
  
            Entering: "duration-150 ease-out"
              From: "opacity-0 scale-95"
              To: "opacity-100 scale-100"
            Leaving: "duration-100 ease-in"
              From: "opacity-100 scale-100"
              To: "opacity-0 scale-95"
          --></div>

          <main class="w-full mt-10 m-auto px-4 flex justify-center">
            <div class="sm:text-center lg:text-left">
              <h1
                class="text-4xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl"
              >
                <span class="block text-indigo-600 xl:inline"
                  >ADD NEW PRODUCT</span
                >
              </h1>

              <!-- start form -->
              <form action="/admin/add-product" method="post" class="mt-10">
                <label for="" class="text-2xl font-semibold inline-block mt-5"
                  >NAME</label
                >
                <input
                  class="bg-gray-200 p-[1rem] mt-5 w-[100%]"
                  type="text"
                  name="name"
                />

                <label for="" class="text-2xl font-semibold inline-block mt-5"
                  >COLOR</label
                >
                <input
                  class="bg-gray-200 p-[1rem] mt-5 w-[100%]"
                  type="text"
                  name="color"
                />

                <label for="" class="text-2xl font-semibold inline-block mt-5"
                  >PRICE</label
                >
                <input
                  class="bg-gray-200 p-[1rem] mt-5 w-[100%]"
                  type="text"
                  name="price"
                />

                <div
                  class="mt-5 sm:mt-8 sm:flex sm:justify-center lg:justify-start"
                >
                  <div class="rounded-md shadow w-full">
                    <button
                      type="submit"
                      class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 md:py-4 md:text-lg md:px-10 uppercase font-bold"
                    >
                      Submit
                    </button>
                  </div>
                </div>
              </form>
              <!-- end of form -->
            </div>
          </main>
        </div>
      </div>
    </div>
  </body>
</html>
